## Build artifacts (Тимчасові файли компіляції)
[Bb]in/
[Oo]bj/
[Oo]ut/

## IDE - Rider (Налаштування твого Rider)
.idea/
*.sln.iml
*.idea

## IDE - Visual Studio & VS Code
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

## OS specific (Сміття від macOS)
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

## Packages (Пакети NuGet)
*.nupkg
**/packages/*
!**/packages/build/

## Publish output (Результати публікації)
publish/
